body{
    background-color: black !important;
    font-family: "Montserrat", sans-serif;
    display:flex;
    justify-content: center;
    margin: 0
}

.container{
    background-color: oldlace;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;



}